{% extends 'base.html.twig' %}
{% block body %}
<h1>Bienvenue dans ce blog</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae reiciendis laborum saepe aut molestiae laudantium rem ullam sed, et, consectetur repellendus cupiditate error quaerat ex velit magni suscipit. Nemo, vero. Recusandae nulla nesciunt quam accusantium ea vel cupiditate incidunt suscipit.</p>
<p>Illo natus, iste dolor laborum officiis qui soluta aut repudiandae beatae laudantium ipsam eius earum, dicta explicabo! Et fugit eius ipsa nisi quia voluptatibus reprehenderit architecto rem consectetur corrupti doloribus consequatur distinctio, incidunt, quos necessitatibus ipsum natus saepe esse laudantium!</p>
{% endblock %}